<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <div>
            <h1>Hello {{x}}</h1>
            <button v-on:click="change">改变内容</button>
        </div>

    </div>
    <hr>
    <div id="add">
        <div>
            <p>销售：<input type="text" v-model="xs">
                <button @click="xs<99&&xs++">+</button>
                <button @click="xs>0&&xs--">-</button>
            </p>
            <p>总库存：{{total}} </p>
            <button v-on:click="js">更新库存</button>
            <h3 v-if="kc">库存不足</h3>
        </div>

    </div>
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
    <script>
        var vm1 = new Vue({
            el: "#app",
            data: {
                x: 'world'
            },
            methods: {
                change: function () {
                    this.x = 'vue'
                }
            }
        })
        var vm2 = new Vue({
            el: "#add",
            data: {
                xs: 0,
                total: 99,
                kc: false
            },
            methods: {
                js: function () {
                    if (this.total - this.xs < 0) {
                        this.kc = true
                        return this.total
                    }
                    else {
                        return this.total -= this.xs
                    }

                }
            }
        })
    </script>
</body>

</html>